body {
  background: #fcfcfc;
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}


.navbar{
  // position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#yellow{
  color:black;
  font-family: 'Montserrat', sans-serif;
}

.ap{
  width: 75px;
  height: 75px;
  color: rgb(255, 255, 255);
  margin-left: 50px;
  margin-top: 30px;
}

.logo-box{
  width: 280px;
  height:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  color:black;
  font-weight:bolder;
  margin-left: 30px;
  transform: scaleY(.6);
}

.hello-there{
  font-family: 'Montserrat', sans-serif;
  color:rgb(41, 23, 40);
  display: block;
  font-size:6rem;
  font-weight: bolder;
}
.syncopate{
  font-family: 'Syncopate', sans-serif;
}

.landing-box{
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.navbar-item{
  // margin-left: 850px;
  font-weight: bolder;
  transform: scaleY(.7);
}

.nav-items{
  margin-right: 30px;
  color:black;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.page-section{
  width: 100%;
  min-height: 110vh;
}

.logo{
  width:100px;
  height: 100px;
}

.description{
  width: 210px;
  font-size:2.5rem;
  font-weight: 900;
}

.description-h3{
  margin-top: 25px;
  margin-left: 40px;
}

// .introduction-1{
//   margin-top: 20%;
// }
.introduction-2{
  margin-top: 30%;
}



.hr-social{
  content: '';
  border:1px solid #56d8ba;
  width: 105px;
  // height: 50px;
  transform: rotate(90deg);
  // margin-top: 280px;
}
 
@media (max-width: 800px){
  .page-section{
    width: 100%;
    min-height: 30vh;
  }
  .hello-there{
    font-size: 1.4rem;
  }
  .landing-box{
    width: 300px;
    height: 300px;
  }
}




// ! PROJECT PAGE 

#projects{
  background: #fcfcfc;
  background-image: url('../images/mountain.jpeg');
  background-size: cover;
  background-position:bottom;
  background-attachment:fixed; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color:rgb(41, 23, 40);
}

.project-container{
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

a{
  color:#333;
  text-decoration: none;
}

.main-header-projects{
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.main-header-projects h1{
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.main-header-projects p{
  font-size: 2rem;
}

.project-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap:10px;
  background: #fcfcfc;
  margin-bottom: 2rem;
  box-shadow: 0 20px 30px -25px rgba(0, 3, 8, 0.7);
  // padding: 20px;
  margin-bottom: 160px;
}

.app-links{
  margin-left: 75%;
  margin-top: 10px;
}

ul{
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

ul li{
  list-style: none;
  margin: 0 15px;
}

ul li a{
  border-radius: 50%;
  font-size: 25px;
  color:#666;
  transition: .5s;
}

ul li a:before{
  content: '';
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

ul li a:hover:before{
  transform: scale(1.1);
  box-shadow: 0 0 15px #fff;
}
ul li a:hover{
  color:#000000;
}

.project-card h3{
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  width: 100%;
  height: 100%;

}


// .project-card.image-links{
//   // height: 600px;
// }

.project-card > div { 
  padding: .4rem;
}

.project-card:nth-child(even) img{
  order:2;
}


.libraries{
  display: flex;
}
.libraries-technologies{
  margin-right: 10px;
  font-family: 'Fira Code', monospace;
  font-size: 12px;
  color: #202020;
  letter-spacing: 2px;
  text-align: center;
  margin-left: 30px;
  box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
}

.project-description p{
  background: #fcfcfc;
  color:#000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 13.5px;
  padding:30px;
  // box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
  text-shadow: .1px 0 #888888;
  letter-spacing:1px;
  font-weight:bold;
}

.project-name{
  color:#666;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-align: center;

}
.project-name:hover{
  color:black;
  text-decoration: underline;
}

.project-number-name{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


@media (max-width: 700px) {
  .project-card{
    display: block;
    width: 250px;
    height: 450px;
  }
  .image-links{
    width: 250px;
    height: 200px;
  }
  .project-description p{
    font-size: 7.5px;
    padding: 10px;
  }
  .app-links {
    width: 4px;
    display: flex;
    flex-direction: column;
  }
  .app-links ul{
    width: 1px;
    height: 1px;
    margin-left: -40px;
  }
  .project-name{
    font-size: 18px;
  }
  .project-number-name{
    font-size: 8px;
  }
  .libraries-technologies{
    // display: inline-block;
    font-size: 7px;
    margin-left: 10px;
    text-align: left;
    margin-right: 2px;
  }
  .libraries-technologies{
  }

}







// CONTACT

#contact{
  background: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content:center;
  align-items: center;
}

.contact-form{
  width: 850px;
  padding: 0 10px; 
  margin-bottom: 80px; 
}


.top-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-form-name{
  width: 415px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  border: 1.5px solid #8a8a8a;
  background: rgba(248, 248, 248,.5);
  padding: 15px 30px;
  outline: none;
  color:rgb(27, 25, 25);
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin:16px 0;
  border: 1.5px solid #8a8a8a;
  background: rgba(248, 248, 248,.5);
  padding: 15px 30px;
  color:rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
}

.contact-message{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  padding: 10px;
  margin-bottom: 40px;
  font-weight:800;
}

button{
  width:20%;
  padding:12px 50px;
  margin-right: 10px;
  background: rgb(248, 248, 248);
  text-transform:uppercase;
  color:rgb(12, 9, 9);
  letter-spacing:1px;
  border:1.5px solid #8a8a8a;
  font-size:15px;
  outline:none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  font-weight: bold;
}
button:hover{
  color:#fff;
  background-color: #8a8a8a;
  border: 1.5px solid #8a8a8a;
  transition: .4s;
}


@media (max-width: 700px){
  .contact-message{
    font-size: 30px;
  }
  .top-form{
    width: 10px;
    // height: 40px;
    display: block;
    margin-left: 330px;
  }
  .contact-form-name{
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
  }
  .contact-form-text{
    width: 300px;
    // height: 40px;
    display: block;
    margin-left: 330px; 
  }
  button{
  margin-left: 330px;
  }
  .get-in-touch{
    display: block;
  }

}










// ! FOOTER 

#footer{
  height: 100px;
  background: white;
  border-top: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}

.left-footer-content{
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  transform: scaleX(1);
  transform: scaleY(.9);
}
.left-footer-content span{
  font-weight:bolder;
}

.right-footer-content{
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
  margin-right: 20px;
  font-size: 25px;
}

#social:hover{
  filter:sepia(60%);
  color:#8a8a8a;
}

.button-up{
  position: relative;
  padding: 5px;
  margin: 30px auto;
  background: #000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transition: all 0.2s linear;
}

.button-up:hover {
  transform: translate3d(0, -10px, 0);
  background-color:#8a8a8a;
  transition: all 1s ease;
}

.button-up::after{
  content: "";
  position: absolute;
  left: 14px;
  // bottom: 20px;
  z-index: 11;
  display: block;
  width: 5px;
  height: 5px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}
.button-up::after {
  top: 20px;
  transform: rotate(45deg);
  transition: all 1s ease;
}


// ! FOOTER



// ! CONNECT

#connect{
  background: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content:center;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(231, 230, 230);
}

.left-connect-div{
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 160px;
}
.let-connect{
  font-size: 80px;
  font-weight:bolder;
  margin-top: -20px;
}

.right-connect-div{
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  font-weight:bolder;
  text-align: start;
  font-size: 30px;
  padding: 160px;
  color:black;
}

.connect-social-links{
  color:black;
  margin-bottom: 15px;
}
.connect-social-links:hover{
  filter:sepia(60%);
  color:#8a8a8a;
  transition: .2s ease;
  margin-left: 2px;
}

.connect-copyrights{
  margin-top: 110px;
}

// ! CONNECT


// ! ABOUT
#about{
  background: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  color:rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.about-introduction{
  width: 1000px;
  // text-align: left;
  display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  justify-content: center;
}

.about-hello{
  font-size: 150px;
  // text-align: left;
  margin-bottom: 30px;
}

.about-introduction-left{
  width: 600px;
  height: 600px;
  display: block;
  flex-direction: column;
}

.about-introduction-paragraph{
  font-size: 20px;
  margin-bottom: 50px;
  margin-left: 10px;
}

.about-second-paragraph{
  height: 1000px;
}
.adrian-photo{
  width: 370px;
  height: 370px;
  border-radius: 50%;
}

@media (max-width: 800px){
  #about{
    display: flex;
    // justify-content: center;
    flex-direction: column-reverse;
    align-items:center;
  }
  .adrian-photo{
    width: 200px;
    height: 200px;
    margin-top: 80px;
  }
  .about-introduction{
    width: 500px;
  }
  .about-hello{
    font-size: 100px;
  }
  .about-introduction-paragraph{
    font-size: 20px;
  }
  .button-up{
    display: none;
  }
//   #connect{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     // flex-direction: column;
//     // align-items: flex-start;
//     // justify-content: center;
//     // align-items: flex-start;
//   }
//   .left-connect-div{
//     // width: 100px;
//     height: 10px;
//     // text-align: left;
//   }
//   .let-connect{
//     width: 300px;
//     height: 50px;
//     font-size: 40px;
//     text-align: left;
//     // display: flex;
//   }
//   .right-connect-div{
//     width: 100px;
//     height: 50px;
//     font-size: 20px;
// text-align: left;
//   }

}










// ! ABOUT






/* SCROLLBAR */
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  border-radius: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
                              to(#ccdfe0)
  );
  box-shadow: inset 2px 2px 2px rgba(255,255,255,0.25), inset -2px -2px -2px rgba(0,0,0,0.25);
}
::-webkit-scrollbar-track{
  background: linear-gradient(to right, #201c29, #201c29 1px, #100e17 1px, #100e17);
}



