body,
html {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-section {
  width: 100vw;
  min-height: 100vh;
}
.owner {
  font-family: "Nothing You Could Do", cursive;
  color: rgb(0, 0, 0);
}
html {
  scroll-behavior: smooth;
}
.section-box {
  width: 70%;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 999;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(65, 61, 61);
}
.navbar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar nav ul li {
  display: inline-block;
  margin: 1.2vw;
}
.navbar nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 2em;
  &:hover {
    color: red;
  }
}

.hamburger {
  width: 40px;
  height: 30px;
  color: rgb(255, 255, 255);
}

.navbar .MobileNavigation {
  display: none;
}
@media (max-width: 990px) {
  .navbar .Navigation {
    display: none;
    background: rgb(187, 178, 178);
    color: white;
  }

  .navbar .MobileNavigation {
    display: flex;
    align-items: center;
    background: rgb(65, 61, 61);
    margin: 15px;
    height: 40px;
  }
  .navbar .MobileNavigation .hamburger {
    color: rgb(255, 255, 255);
    position: fixed;
    right: 5%;
    cursor: pointer;
  }
  .navbar nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    height: 300px;
    background: rgb(65, 61, 61);
    border-top: 2px solid rgba(199, 15, 15, 0.973);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .navbar nav ul li {
    font-size: 100%;
    letter-spacing: 2px;
    // padding-left: 15%;
    color: black;
  }
  .navbar {
    opacity: 1;
  }
  .navbar a:hover {
    color: #8c1d18;
  }
}

#landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // background: rgba(229, 235, 238, 0.849);
}
.landing-box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.landing-left-div {
  width: 40%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.landing-left-div h3 {
  display: flex;
  align-items: center;
  font-weight: lighter;
  color: #9b9db6;
}
.landing-left-div p {
  font-size: 16px;
}
.img {
  width: 40%;
  height: 40%;
}
.landing-span {
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  background-color: #6773ff;
  margin-right: 1em;
}
#span {
  font-weight: bolder;
}
.name {
  font-size: 35px;
  font-family: "Nothing You Could Do", cursive;
}

@media only screen and (max-width: 1000px) {
  body {
    width: 100%;
    height: 100%;
  }
  // .navbar-items {
  //   display: none;
  // }
  .owner {
    width: 100px;
  }
  #centre {
    font-size: 22px;
    font-weight: bolder;
  }
  #landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing-box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }
  .landing-left-div {
    width: 100%;
    height: inherit;
  }
  .img {
    width: 60%;
  }
  .name {
    font-size: 20px;
  }
  .landing-span {
    width: 12%;
  }
  .landing-left-div h3 {
    color: rgb(24, 131, 24);
  }
  .landing-left-div p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
  }
  .owner {
    font-family: "Nothing You Could Do", cursive;
    width: 100%;
    font-size: 10px;
    color: rgb(0, 0, 0);
  }
  // .section-box {
  //   width: 90% !important;
  // }
}

#section-title {
  width: 100%;
  font-size: 25px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: black;
  color: white;
  // padding-top: 5px;
  // padding-bottom: 5px;
  text-align: center;
}
.underline {
  text-decoration: underline;
}
.skill-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
}
.skills-set {
  display: flex;
}
.web-development {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  // margin-right: 10px;
}
.skill-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: black;
  margin-right: 10px;
  border: none;
}
.skill {
  width: 40px;
  height: 40px;
  padding: 5px;
}

#about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  // background: rgba(229, 235, 238, 0.849);
}

.introduction {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.learn {
  margin-top: 2%;
  width: 100%;
}

@media only screen and (max-device-width: 1000px) {
  #about {
    display: block;
  }
  .learn{
    width: 100%;
  }
  .about-left,
  .about-right {
    width: 100%;
    height: 100%;
  }
  .skill-box p {
    text-align: center;
  }

  .web-development {
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: "Montserrat", sans-serif;
    width: 100%;
  }
  .skills-set {
    flex-wrap: wrap;
  }
  .skill {
    height: 30px;
  }
  .skill-box,
  .skill-name {
    width: 55px;
    margin: 5px;
  }
  .skill-name p,
  .skill-box p {
    font-size: 70%;
  }
  .introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #section-title {
    font-size: 25px;
  }
  #about-box {
    display: flex;
    flex-direction: column;
  }
}

// ! EXPERIENCE SECTION START
#experience-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
#work-logo {
  width: 100px;
  height: 100px;
}
.work-box {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  text-align: center;
}
.work-box p {
  padding: 15px;
}
.work-box h2 {
  font-size: 18px;
}

@media only screen and (max-width: 1000px) {
  .work-experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .work-box {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .work-box h2 {
    font-size: 15px;
  }
  .work-box p {
    text-align: center;
    font-size: 85%;
  }
}
// ! EXPERIENCE SECTION END

// ! PROJECT SECTION START
#project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-card {
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  margin-bottom: 30px;
  width: 100%;
}
.project-image {
  width: 550px;
  height: 100%;
}
.project-info {
  font-size: 14px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 2.5em;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: center;
}

.project-info a {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 1.2em;
  text-decoration: none;
  transform: scaleX(1.2);
  color: rgb(211, 27, 14);
}

.project-info p {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}
.img-hover-zoom {
  height: 100%;
  overflow: hidden;
  // border-radius: 0 12px 12px 0;
}

.img-hover-zoom--colorize img {
  transform-origin: 45% 25%;
  transition: transform 0.9s, filter 0.8s ease-in;
  filter: brightness(100%);
}

.img-hover-zoom--colorize:hover img {
  filter: brightness(100%);
  transform: scale(1.05);
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}
ul li {
  list-style: none;
  margin: 0 15px;
}
ul li a {
  border-radius: 50%;
  font-size: 90%px;
  color: #666;
  transition: 0.5s;
}
ul li a:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 0.5s;
  transform: scale(0.9);
}
ul li a:hover:before {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgb(216, 63, 63);
}
ul li a:hover {
  color: #992525;
}

@media only screen and (max-width: 1000px) {
  #project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    // box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    //   0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    //   0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background: white;
  }
  .project-info {
    height: 100%;
    width: 100%;
  }
  .project-image {
    width: 100%;
    height: 100%;
  }
  .project-info h2,
  p {
    font-size: 100%;
  }
  .project-name {
    font-size: 50%;
  }
}
// ! PROJECT SECTION END

// ! CONTACT SECTION START
#contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(229, 235, 238, 0.849);
  background-size: cover;
  background-position: center;
}

.contact-form {
  width: 100%;
  margin-bottom: 80px;
}
#contact-box {
  display: flex;
  justify-content: center;
}

.contact-form-name {
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  border: 1.5px solid #8a8a8a;
  background: rgba(248, 248, 248, 0.5);
  padding: 15px 30px;
  outline: none;
  color: rgb(27, 25, 25);
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 1px solid #8a8a8a;
  background: rgba(248, 248, 248, 0.5);
  padding: 15px 30px;
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
}

.contact-message {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  padding: 10px;
  margin-bottom: 40px;
  font-weight: 800;
}

button {
  width: 20%;
  padding: 10px 35px;
  margin-right: 10px;
  background: rgb(248, 248, 248);
  text-transform: uppercase;
  color: rgb(12, 9, 9);
  letter-spacing: 1px;
  border: 1.5px solid #8a8a8a;
  font-size: 15px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  color: #fff;
  background-color: #8a8a8a;
  border: 1.5px solid #8a8a8a;
  transition: 0.4s;
}

.get-in-touch {
  font-size: 3rem;
}

@media only screen and (max-width: 1000px) {
  #contact {
    width: 100%;
    display: block;
  }
  .contact-form {
    display: block;
  }
  .contact-form-text {
    width: 100%;
  }
}

.connect-section {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  background: rgba(229, 235, 238, 0.849);
}
#container {
  width: 70%;
  height: 100%;
}

.connect-divs {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-div {
  width: 40%;
  height: 320px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 25px;
}
.right-div {
  width: 60%;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
#connect-social {
  margin-bottom: 10px;
  color: white;
}
.connect-social-links {
  margin-bottom: 15px;
  text-decoration: none;
  font-size: 30px;
  color: black;
}
.connect-social-links:hover {
  filter: sepia(60%);
  color: #8a8a8a;
  transition: 0.1s ease;
  margin-left: 2px;
}

@media only screen and (max-device-width: 480px) and (max-device-width: 800px) {
  #connect,
  #container {
    width: 100%;
    display: block;
  }
  .connect-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-div,
  .right-div {
    width: 50%;
    height: 40%;
  }
  .connect-social-links {
    font-size: 14px;
  }
}
